// Specific CSS for your home-page

.banner {
  text-align: center;
  color: rgb(220,220,220);
  height:  calc(100vh - 120px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.banner h1 {
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 12px;
  font-size: 130px;
}
.banner h1 span{
  font-size: 50px;
}
.banner h2 {
  position:absolute;
  bottom:75px;
  left: 30%;
  font-size: 40px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.banner p {
font-size: 15px;
position: absolute;
top: 160px;
left: 20px;
font-weight: lighter;
text-align:left;
}
.btn-low {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 10px;
  left: 38%;
}
.btn-white-low {
  background-color: white;
  padding: 10px 40px;
  font-weight: bolder;
  color: #DFC88E;
  margin: 0 5px;
}
.btn-white-low-bis {
  background-color: white;
  padding: 10px 40px;
  font-weight: bolder;
  background-color: #DFC88E;
  color: white;
}
