
<%= simple_form_for :search, url: families_path, method: :get, html: { class: 'inline form-font-courier' }  do |f| %>
<div class="form-font-courier">
  <%= f.input :country_origin, collection: Family.all.map(&:country_origin) %>
  <%= f.input :name, collection: Family.all.map(&:name)%>
  <%= f.button :submit, value: 'Ken' %>
</div>
<% end %>



