


<div class="banner" style="background-image: linear-gradient(-225deg, rgba(112,66,20,0.8) 0%, rgba(97,51,05,0.4) 50%), url('http://www.lacollesurloup.fr/sites/default/files/styles/lc_visuels_top/public/visuel_top/famille.jpg?itok=6c_8c9nK');">
  <div class="banner-content">
    <h1>Ken<span>.family</span></h1>
    <p>k[Ken] m.n, The ken (間), a traditional Japanese</br> unit of length</p>
    <h2>offer you a family made-to-measure</h2>
    <a class="btn btn-primary btn-lg">ken now</a>
  </div>
</div>
