<h1>Your families</h1>


<% @bookings.each do |booking| %>
  <%= booking. %>
<% end %>

listing past and present bookings
for each booking you can see it's review
call the external form to review your past bookings
