<h1>Customer::Bookings#index</h1>
<p>Find me in app/views/customer/bookings/index.html.erb</p>

listing past and present bookings
for each booking you can see it's review
call the external form to review your past bookings
