#map {
  display: flex;
  height: 100%;
  width: 100%;
}
.map-container {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #E2CA95 ;
}
.regions_div{
  text-align: center;
}
